@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 213 33% 6%;
    --foreground: 0 0% 100%;

    --card: 222 26% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 222 26% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 157 89% 52%;
    --primary-foreground: 213 33% 6%;

    --secondary: 193 100% 50%;
    --secondary-foreground: 213 33% 6%;

    --muted: 222 26% 15%;
    --muted-foreground: 210 14% 69%;

    --accent: 193 100% 50%;
    --accent-foreground: 213 33% 6%;

    --destructive: 0 86% 68%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 48% 51%;
    --success-foreground: 0 0% 100%;

    --border: 210 22% 26%;
    --input: 210 22% 26%;
    --ring: 157 89% 52%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}